* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-contaiher {
  margin-top: 0;
  background-color: lightgreen;
  background-image: url(../img/green-phone-virus.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 20vh;
}

.header-heading {
  font-size: 60px;
  color: white;
  font-weight: bold;
  font-style: italic;
}

.main-container {
  background-color: black;
  height: 60vh;
}

.footer-container {
  justify-content: space-around;
  background-color: lightblue;
  background-image: url(../img/blue-phone-virus.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 20vh;
}

.button {
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  border: 2px solid black;
  border-radius: 50%;
}

.button:hover {
  cursor: pointer;
  padding: 15px;
  border: 5px solid black;
}

.start-button {
  margin-right: 50px;
  background-color: green;
  color: white;
}
.stop-button {
  margin-left: 50px;
  background-color: red;
  color: white;
}

